$base-blue: #215b6e;
$base-orange: #f59a2c;

* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

.body-div {
  min-height: 100vh;
  background-color: white;
}

h1 {
  font-size: 1.8em;
  color: white;
}

h2 {
  color: $base-orange;
  font-size: 1.7em;
  font-weight: bold;
  padding: 15px 0;
  text-align: center;
}

h3 {
  text-align: center;
  color: $base-blue;
  font-size: 1em;
}

.page-header-container {
  background-color: white;
  text-align: center;
}

a,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  &:hover {
    color: $base-orange;
  }
}

button {
  all: unset;
  cursor: pointer;
  background-color: #f8f8f8;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  width: fit-content;
  padding: 5px;
  margin: 10px;
  font-size: 0.8em;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  align-content: center;
}

.loading-container {
  display: flex;
  justify-content: center;
}

.submitted-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

header {
  height: 75px;
  background-color: $base-blue;
  text-align: center;
  padding-top: 20px;
  .nav-header {
    font-size: 1.1em;
    a:hover {
      color: white;
    }
  }
}

.student-list {
  display: flex;
  column-gap: 15px;
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
}

.student-profile {
  display: block;
  border-radius: 5px;
  text-align: center;
}

.student-profile > img,
.student-list > img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

// START: Todos Dashboard

.todo-list-item {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 20px 1fr 35px;
  border-bottom: 1px solid rgb(187, 183, 183);
  padding: 5px;
}

.todo-descr-item {
  grid-column: 2;
}

.icon-div {
  text-align: right;
}

.check-icon,
.check-icon-done {
  grid-column: 1;
  border: 1px solid lightgrey;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  :hover {
    color: $base-orange;
  }
}

.check-icon-done {
  background-color: $base-blue;
  border: 1px solid $base-blue;
  color: white;
  :hover {
    color: white;
  }
}

.todo-done {
  color: gray;
  text-decoration: line-through;
}

// END: Todos Dashboard

.select-studentprojects {
  color: $base-orange;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
  > input[type="radio"]:checked + label {
    background-color: #f8f8f8;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transform: translateY(0);
    color: $base-blue;
  }
  > label {
    padding: 5px;
    transition: 300ms ease-in;
    font-size: 1.1em;
    margin: 0 5px;
  }
}

.hidden {
  display: none;
}

.student-data {
  padding: 15px 10px;
  font-size: 0.9em;
}

.student-list-container,
.add-student-form,
.add-item-form {
  display: flex;
  flex-direction: column;
}

.sort-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  cursor: pointer;
  font-size: 0.9em;
}

.additional-info {
  font-size: 0.9em;
  color: gray;
}

.warning {
  color: red;
}

.name-field {
  color: $base-blue;
  width: 100%;
  text-align: center;
  padding: 10px;
  font-size: 1.2em;
}

.delete-student-icon {
  font-size: 1.8em;
  color: $base-blue;
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.add-icon {
  font-size: 2em;
  color: $base-blue !important;
  margin: 0 auto;
  margin-bottom: 20px;
  background-color: white;
  text-align: center;
}

.form-container {
  position: relative;
}

input,
textarea {
  border: none;
  border-bottom: 1px dotted rgba(19, 19, 21, 0.6);
  width: 95%;
  min-height: 2rem;
  font-size: 1em;
  padding-left: 0.875rem;
  line-height: 147.6%;
  padding-top: 0.825rem;
  padding-bottom: 0.5rem;
  &:focus {
    outline: none;
  }
  &:hover {
    background: #eef1f2;
  }
  &:focus + .form-input-label,
  &:valid + .form-input-label {
    top: 0;
    font-size: 0.9375rem;
    margin-bottom: 32px;
    color: $base-blue;
  }
}

textarea {
  resize: none;
}

.form-input-label {
  position: absolute;
  top: 0.9375rem;
  left: 0.875rem;
  font-size: 1em;
  line-height: 147.6%;
  color: $base-orange;
  transition: top 0.2s;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

@media (min-width: 600px) {
  body {
    display: grid;
    grid-template-columns: 1fr 55% 1fr;
    background-image: url(./components/common/images/main-bg2.webp);
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  .body-div {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
      rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  body > * {
    grid-column: 2;
  }
  .add-student-form {
    display: grid;
    grid-template-columns: 1fr 75% 1fr;
  }
  .todo-form {
    grid-template-columns: 1fr 50% 1fr;
  }
  .add-student-form > * {
    grid-column: 2;
  }
  textarea {
    width: 95%;
  }
  .gridbox {
    display: grid;
    grid-template-columns: 1fr 70% 1fr;
    > * {
      grid-column: 2;
    }
  }
}

@media (min-width: 1700px) {
  body {
    grid-template-columns: 1fr 45% 1fr;
  }
}
